<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap" rel="stylesheet">

<div class="container">
  <div class="center top">
    <p class="title">こくはく❤︎シミュレーター</p>
    <p class="explanation">素敵な告白で彼女の心を掴もう！</p>

    <%= link_to '始める', new_confession_path, class:"btn btn-primary start" %>
  </div>
</div>